[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CPC"]
	path = CPC
	url = https://github.com/imehlhaff/cpc
[submodule "PolarCAP"]
	path = PolarCAP
	url = https://github.com/imehlhaff/polarcap
